.banner{
  background-color: white;
  padding: 1rem 1.2rem;
  border-radius: .2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 25px;
}

@media screen and (max-width: 770px){
  
  .banner{
    grid-template-columns: 1fr;
  }

}
