*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #C0DEED;
}

body {
  background-color: var(--bg-color);
  color: #2C3335;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.container{
  width: 80%;
  margin: auto;
}

.btn{
  outline: none;
  padding: .5rem .8rem;
  cursor: pointer;
}

.error{
  margin-bottom: .5rem;
  color: #eb3c27;
}



@media screen and (max-width: 600px){

  .container{
    width: 95%;
  }

}
