
.tweetCard{
  display: grid;
  grid-template-columns: .15fr 2fr;
  gap: 5px;
  align-items: center;
  margin: 1rem 0;
}

.tweetUser{
  color: black;
}

.tweetUserImg{
  max-width: 3rem;
  width: 3rem;
  height: 3rem;
  max-height: 3rem;
}


@media screen and (max-width: 770px){

  .tweetCard{
    align-items: start;
  }

}
